<DOCTYPE! html>
<html>
    <head>
        {% load static%}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
        <title>{% block title%}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="cabecera">
            <h1 style="text-align: center"><a href="{% url 'partidos'%}">Eliminatorias Norteamerica 2026</a></h1>

            </div>
            <ul>
                <li class="pais"><a href="{% url 'seleccion' p1=1 %}">Argentina</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=2 %}">Bolivia</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=3 %}">Brasil</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=4 %}">Colombia</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=5 %}">Chile</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=6 %}">Ecuador</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=7 %}">Paraguay</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=8 %}">Peru</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=9 %}">Uruguay</a></li>
                <li class="pais"><a href="{% url 'seleccion' p1=10 %}">Venezuela</a></li>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                <p>CONMEBOL 2024 &copy 2024</p>
            </div>
        </footer>
    </body>
</html>